

.background{
    background-color: #17b2ff;
}

.label{
    -fx-text-fill: #17b2ff;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;
}
#lblErro{
    -fx-text-fill: red;
    -fx-font-family: "Rockwell Extra Bold";
    -fx-font-size: 12pt;
}
#avatar{
    -fx-background-image: url("../img/avatar.png") no-repeat;
    -fx-border-image-repeat: none;
    -fx-background-size: 200px 200px;
}