
.background{
    -fx-background-image: url("img/form.background-img.jpg") no-repeat;
    -fx-background-size: 600px 450px;
}
#title{

    position: relative;
    -fx-background-position: bottom;
    -fx-padding: 0;
    -fx-text-fill: #ff7500;
    -fx-font-size: 24pt;
    -fx-font-family: "Comic Sans MS";
    -fx-end-margin: 0;
}
#subTitle{

    position: absolute;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-text-fill: #e3600a;
    -fx-font-size: 14pt;
    -fx-font-family: "Consolas";
}
.label{
    -fx-text-fill: #e3600a;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;

}
.Label{

    -fx-text-fill: #53c7af;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px 10px 20px;
}
.Label#spLabel{
    -fx-padding: 0px;
}
.Label:hover{
    -fx-text-fill: orange;
}
#lblMsg{

    -fx-text-fill: #ff2e00;
     -fx-font-size: 12pt;
}
#img_pane{
    -fx-background-image: url(../Index/img/action.pane.index.jpg) no-repeat;
    -fx-background-size: 300px 200px;
}