.label{
    -fx-text-fill: #17b2ff;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;
}
.Label{

    -fx-text-fill: #53c7af;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px 10px 20px;
}


.background#menuBar{
    -fx-background-image: url(../img/menuGride.background-image.jpg);
}
.background{
    -fx-background-image: url(../img/anchorPane.background-image.jpg);
    -fx-background-color: #17b2ff;
}

.title {
    -fx-font-size: 14pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.background-pane#action{
    -fx-background-image: url(../img/action.pane.index.jpg);
    -fx-background-repeat: no-repeat;
}


#pnPost{
    -fx-background-image: url("../img/post.jpg");
    -fx-background-size: 200px 75px;
    -fx-opacity: 1;
    -fx-background-repeat: no-repeat;
}
#lblpost{
    -fx-text-fill: #031498;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12pt;
    -fx-opacity: 0;
    -fx-background-color: white;

}
#lblpost:hover{
    -fx-opacity: 1;
}


