.label{
    -fx-text-fill: #0045ff;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;

}
.Label{

    -fx-text-fill: #53c7af;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px 10px 20px;
}

.button{
    -fx-font-size: 12pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #0162ff;
    -fx-background-color: #c3c3c3;
    -fx-border-style: none;
}
.button:hover{
    -fx-background-color: white;
}

.background#menuBar{
    -fx-background-image: url(img/menuGride.background-image.jpg);
}
.background{
    -fx-background-image: url(img/anchorPane.background-image.jpg);
}
#paneText{
    -fx-text-fill: green;
    -fx-font-size: 12pt;
}
#divPanel{
    -fx-background-image: url("img/divPanel.jpg");
}