
.background{
    -fx-background-image: url("img/index.background-img.jpg") no-repeat;
    -fx-background-size: 600px 450px;
}
#title{

    position: absolute;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-text-fill: orange;
    -fx-font-size: 24pt;
    -fx-font-family: "Comic Sans MS";
}
#subTitle{

    position: absolute;
    -fx-background-position: center;
    -fx-padding: 4;
    -fx-text-fill: orange;
    -fx-font-size: 20pt;
    -fx-font-family: "Consolas";
}
.label{
    -fx-text-fill: orange;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;

}
.Label{

    -fx-text-fill: #53c7af;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px 10px 20px;
}
.Label#spLabel{
    -fx-padding: 0px;
}
.Label:hover{
    -fx-text-fill: orange;
}
.Label #img_pane:hover{

}
#img_pane{
    -fx-background-image: url(img/action.pane.index.jpg) no-repeat;
    -fx-background-size: 300px 200px;
}
