
.Label{
    -fx-alignment: center;
    -fx-background-color: ivory;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 20pt;
    -fx-font-weight: bolder;
    -fx-background-color: gray;
    -fx-text-fill: #a5c3ff;
}

.Label:hover{
    -fx-text-fill: #53c7af;
}